{% extends 'layout.html' %}

{% block titulo %}Admin Rifas{% endblock %}

{% block contenido %}

<style>
    .rifasT {
        margin: 2vh auto 5vh !important;
    }

    .esg {
        border: 30px ridge rgb(102, 101, 101);
    }

    .año {
        text-align: center !important;
        font-family: 'SilkScreen';
        color: rgb(219, 91, 0);
        font-size: 2.5vh;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .objeto {
        text-align: center !important;
        font-size: 3vh;
        margin-bottom: 2vh;
    }

    .des {
        font-size: 1.39rem;
        text-align: center;
        margin-bottom: 1vh;
    }
    .des2 {
        font-family: serif !important;
        font-size: 1.2rem;
        text-align: center;
        margin-top: 1vh;
        font-weight: 1 !important;
    }

    .card-body {
        padding: 0;
    }

    .card {
        border-radius: 10px;
        border: none;
    }

    .container.esg {
        background-color: rgb(110, 155, 51);
        padding: 3vh;
        margin: 2vh auto;
        max-width: 70%;
    }

    .no-btn {
        background-color: rgba(240, 248, 255, 0) !important; 
        color: rgba(240, 248, 255, 0) !important;
    }

    img.card-img-top {
        height: 30vh;
        object-fit: cover;
    }

    .poloI{
        width: 49%;
        margin-left: 0 !important;
    }
    .poloD{
        width: 49%;
        margin-right: 0 !important;
    }

    .fecha {
            margin: .5vh auto 1.5vh !important;
        }
    @media (max-width: 768px) {
        .container.esg {
            padding: .2vh .2vh;
            max-width: 100%;
            margin: 0;
        }

        .rifasT {
            font-size: 2.5vh;
            margin-bottom: 1vh !important;
            margin-top: 3vh !important;
        }

        .año {
            font-size: 2vh;
        }

        .objeto {
            padding: 1vw 0;
            font-size: 5vw !important;
        }

        .des {
            font-size: 1.2rem;
        }
        .des2 {
            font-size: 1.1rem;
        }

        .col {
            padding: 5vw !important;
        }

        .card {
            margin: 1vh auto;
        }

        img.card-img-top {
            max-height: 30vh;
            object-fit: cover;
        }

        .modal-content {
            font-size: 2vh;
        }

        .fecha {
            margin: 1vh auto 2vh !important;
            font-size: 5vw !important;
        }
    }
</style>

<div class="container esg">
    <h1 class="rifasT" style="color: ghostwhite; text-align: center; font-family: Silkscreen;">$Admin Rifas Rifas$</h1>
    {% with mensajes = get_flashed_messages() %}
    {% if mensajes %}
    {% for m in mensajes %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ m }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for p in productos %}
        <div class="col">
            <div class="card">
                <div style="box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.253);">
                    <img src="/static/img/{{p.5}}" class="card-img-top" alt="Not found">
                </div>
                <div class="card-body">
                    <p class="año"><small><b>{{p.1}}</b></small></p>
                    <p class="objeto" style="background-color: rgb(24, 143, 0); color: ghostwhite; margin-bottom: 1vh;">{{p.2}}</p>
                    <p class="des" style="width: 85%; margin: auto; font-family: Arial, Helvetica, sans-serif; margin-top: 2vh;"><b>Descripción</b><br></p>
                    <div style="max-height: 12vh; min-height: 12vh; width: 70%; margin: auto;">
                        <p class="des2" style="font-family: Arial, Helvetica, sans-serif;"><i>{{p.3}}</i></p>
                    </div>
                    <div style="width: 100%; background-color: rgb(221, 71, 146); color: ghostwhite; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; padding: 1.5vh;">
                        <p class="fecha" style="margin: 0; text-align: center;">Fecha de entrega: {{p.4}}</p>
                        <div style="display: flex; flex-direction: row; justify-content: center;">
                        <button type="button" class="btn btn-primary poloI" data-bs-toggle="modal" data-bs-target="#update{{p.0}}">
                            Modificar <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button type="button" class="btn btn-danger poloD" data-bs-toggle="modal" data-bs-target="#delete{{p.0}}">
                            Borrar <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="update{{p.0}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Rifa</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/uRifa/{{p.0}}" method="post">
                        <div class="modal-body">
                            <div class="form-floating mb-3">
                                <input type="text" name="anio" value="{{p.1}}" class="form-control" placeholder="Nuevo año de rifa">
                                <label for="floatingInput">Nuevo año de rifa:</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" name="premio" value="{{p.2}}" class="form-control" placeholder="Nuevo premio">
                                <label for="floatingInput">Nuevo premio:</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" name="descripcion" value="{{p.3}}" class="form-control" placeholder="Nueva descripción">
                                <label for="floatingInput">Nueva descripción:</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="date" name="fechaEntrega" value="{{p.4}}" class="form-control" placeholder="Nueva fecha de entrega">
                                <label for="floatingInput">Nueva fecha de entrega:</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select name="imag" style="padding: 2vh; width: 100%;">
                                    <option disabled selected>Nueva imagen</option>
                                    <option {% if p.5 == 'mil.png' %} selected {% endif %} value="mil.png">Dinero</option>
                                    <option {% if p.5 == 'Bici.jpg' %} selected {% endif %} value="Bici.jpg">Bici</option>
                                    <option {% if p.5 == 'Xbox.jpg' %} selected {% endif %} value="Xbox.jpg">Xbox</option>
                                    <option {% if p.5 == 'Moto.jpg' %} selected {% endif %} value="Moto.jpg">Moto</option>
                                    <option {% if p.5 == 'IPhone.jpeg' %} selected {% endif %} value="IPhone.jpeg">IPhone</option>
                                    <option {% if p.5 == 'Tsuru.jpg' %} selected {% endif %} value="Tsuru.jpg">Tsuru</option>
                                    <option {% if p.5 == 'Casa.jpg' %} selected {% endif %} value="Casa.jpg">Casa</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="delete{{p.0}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Seguro que quieres eliminar la rifa <b>{{p.2}}</b>?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a href="/dRifa/{{p.0}}" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div style="margin-top: 2vh; margin-left: auto; margin-right: auto; display: flex; flex-wrap: nowrap; justify-content: center;">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#insert">Nueva rifa <i class="fa-solid fa-plus"></i></button>
    </div>
</div>

<div class="modal fade" id="insert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Nueva rifa</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/oRifa" method="post">
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" name="anio" class="form-control" placeholder="Año de rifa">
                        <label for="floatingInput">Año de rifa:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="premio" class="form-control" placeholder="Premio">
                        <label for="floatingInput">Premio:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="descripcion" class="form-control" placeholder="Descripción">
                        <label for="floatingInput">Descripción:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" name="fechaEntrega" class="form-control" placeholder="Fecha de entrega">
                        <label for="floatingInput">Fecha de entrega:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select name="imag" style="padding: 2vh; width: 100%;">
                            <option disabled selected>Imagen</option>
                            <option value="mil.png">Dinero</option>
                            <option value="Bici.jpg">Bici</option>
                            <option value="Xbox.jpg">Xbox</option>
                            <option value="Moto.jpg">Moto</option>
                            <option value="IPhone.jpeg">IPhone</option>
                            <option value="Tsuru.jpg">Tsuru</option>
                            <option value="Casa.jpg">Casa</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
