{% extends 'layout.html' %}
{% block titulo %}Ahorra y gana con Spendy{% endblock %}
{% block contenido %}
<style>
    body{
        background-color: rgb(255, 255, 255) !important;
        background-image: none !important;
    }
    main{
        background-color: rgb(255, 255, 255);
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .uy, .negro{
        color: black !important;
       text-align: center;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 1rem !important;
    }
    .centrado{
        margin: 4vh auto;
        text-align: center;
        color: rgb(27, 96, 199);
    }
    h1, .uy, small{
        margin: 2vh auto;
    }

    .uy{
        width: 40%;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
        margin: 0;
    }
      @media (max-width: 600px){
        .uy{
          width: 90%;
        }
        .fotos{
          height: fit-content !important;
        }
        .jff{
          font-size: 4vw;
          width: 90%;
          margin: auto;
        }
        .negro {
        margin-bottom: 2vh;
        font-size: 4vw !important;
    }
      }

      .fotos{
          height: fit-content !important;
        }
    .negro {
        margin-top: 1vh !important;
        margin-bottom: 3vh !important;
        font-family: Arial, Helvetica, sans-serif;
      font-size: 1.3rem !important;
      list-style-type: none;
      text-align: justify;
    }
    .imge{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 5vh;
        background-image: url(/static/img/diner.jpg);
        background-size: cover;
    }
    .textoss{
        font-size: 1vw;
    }
    .fotos{
        width: 100%;
        height: 40vh;
        margin: 1vh 0;
    }
    .pasos{
        width: 100%;
    }
    .pasos2{
        color: rgb(183, 0, 255);
        text-align: left;
        font-size: 2rem;
    }
    h2{
        margin-top: 6vh;
    }
    .eq{
        text-align: center;
        font-size: 1.5rem !important;
    }
</style>

<main>
    <div class="imge"></div>
    <h1 class="centrado">Como invertir en nuestra pagina</h1>
    <p class="negro eq"><i style="color: red;">!Para poder invertir primero debes registrarte e Iniciar Sesion¡</i>

    <ol type="1" class="uy">
        <h2 class="pasos2">&lozf; Paso 1:</h2>
        <li class="negro" style="text-align: center;"> Escribe la cantidad de dinero que deseas invertir.
            <div class="fotos"><img class="pasos" src="/static/img/1.png" alt=""></div>
        </li><br>

        <h2 class="pasos2">&lozf; Paso 2:</h2>
        <li class="negro" style="text-align: center
        ;">Elige cuanto tiempo sera invertido.
            <div class="fotos"><img class="pasos" src="/static/img/2.png" alt=""></div></div>
        </li><br>

        <h2 class="pasos2">&lozf; Paso 3:</h2>
        <li class="negro">Deposita la cantidad de dinero que elegiste a la cuenta de banco que se mostrara.
            <div class="fotos"><img class="pasos" src="/static/img/33.png" alt=""></div></div>
        </li><br>

        <h2 class="pasos2">&lozf; Paso 4:</h2>
        <li class="negro">Para ver tus inversiones ve a:
            <div class="fotos"><img class="pasos" src="/static/img/mi1-.png" alt=""></div></div>
        </li><br>

        <h2 class="pasos2">&lozf; Paso 5:</h2>
        <li class="negro">Podras ver tus inversiones, una ves que deposites el estatus cambiara a una A,
            lo que significa que tu dinero esta invertido, solo espera a que el plazo termine y te depositaremos tu dinero
            mas intereses.
            <div class="fotos"><img class="pasos" src="/static/img/m-2.png" alt=""></div></div>
        </li><br>
    </ol>
    <div class="imge"></div>
</main>

{% endblock %}
