{% extends 'layout.html' %}
{% block titulo %}Ahorra y gana con Spendy{% endblock %}
{% block contenido %}
<style>
    .alineado-centro {
        text-align: center;
    }

    .texto-blanco {
        color: white;
    }

    .tres {
        width: 33.3%;
        height: 100%;
    }

    .credits {
        width: 100%;
        height: 25%;
        border-bottom: 1px solid rgb(90, 90, 90);
    }

    .tarjeta {
        width: 70%;
        height: 80vh;
        background-color: grey;
        margin: 1vh auto;
        border-radius: 10px;
        padding: 0 2vw;
    }

    @media (max-width: 600px) {
        .tarjeta {
            width: 99%;
            height: 40vh;
            background-color: grey;
            margin: 1vh auto;
            border-radius: 10px;
            padding: 0 5vw;
        }

        .tarjeta-header {
            height: 15%;
            width: 100%;
            padding-top: 2vh;
        }

        .tarjeta-body {
            height: 25%;
            padding-top: 3%;
        }

        .nota {
            font-size: 3vw !important;
        }

        .tarjeta-footer {
            height: 15% !important;
        }

        .chip-container {
            height: 5vh !important;
            width: 13vw !important;
        }

        .seccion-clabe {
            font-size: 3vw !important;
        }

        .clabe {
            font-size: 3vw !important;
        }

        .titulo-paso-final {
            margin: 0 !important;
        }
    }

    .titulo-paso-final {
        font-size: 2.4vw;
        margin: 2vh auto;
    }

    .seccion-clabe {
        font-size: 2vw;
        font-family: Arial, Helvetica, sans-serif;
    }

    .clabe {
        display: inline;
        background-color: white;
        padding: 0 2vh;
        font-size: 2vw;
        border-radius: 5px;
    }

    .nota {
        background-color: rgb(255, 255, 255);
        margin: 0;
        padding: 0 1vw;
        border-radius: 5px;
        font-size: 1rem;
    }

    .contenedor-clabe {
        height: 20%;
    }

    .contenedor-nota {
        height: 10%;
        border-radius: 5px;
    }

    .tarjeta-header {
        height: 15%;
        width: 100%;
        padding-top: 2vh;
    }

    .tarjeta-body {
        height: 25%;
        padding-top: 3%;
    }

    .tarjeta-central {
        height: 25%;
    }

    .tarjeta-footer {
        height: 20%;
    }

    .tarjeta-footer p {
        display: inline;
        font-size: 2vw;
    }

    .chip-container {
        background: linear-gradient(to top right, yellow, rgb(184, 165, 2));
        width: 5.5vw;
        height: 9vh;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        border: 1px solid rgb(97, 97, 97);
    }

    .chip {
        width: 33.3%;
        height: 25%;
        border-right: 1px solid rgb(90, 90, 90);
    }

    .chip:last-child {
        border-right: none;
    }

    .chip .credits {
        height: 25%;
    }

    .chip:last-child .credits {
        border-bottom: none;
    }
</style>

<div class="tarjeta">
    <div class="tarjeta-header">
        <p class="alineado-centro texto-blanco titulo-paso-final">Paso final</p>
        <hr style="background-color: white; height: 1vh;">
    </div>
    <div class="tarjeta-body">
        <h1 class="texto-blanco">Deposita a esta cuenta</h1>
    </div>

    <div class="tarjeta-central">
        <div class="chip-container">
            <div class="tres" style="border-right: 1px solid rgb(99, 98, 98);">
                <div class="credits"></div>
                <div class="credits"></div>
                <div class="credits"></div>
                <div class="credits" style="border-bottom: none;"></div>
            </div>
            <div class="tres"></div>
            <div class="tres" style="border-left: 1px solid rgb(99, 98, 98);">
                <div class="credits"></div>
                <div class="credits"></div>
                <div class="credits"></div>
                <div class="credits" style="border-bottom: none;"></div>
            </div>
        </div>
    </div>

    <div class="tarjeta-footer">
        <p class="seccion-clabe">CLABE: </p>
        <p class="clabe">
            002 115 01600326941 1
        </p>
    </div>

    <div class="contenedor-nota">
        <p class="nota">Nota: Después del depósito validaremos tu inversión y al terminar el plazo elegido se te devolverá tu dinero más el dinero extra ganado.</p>
    </div>
</div>

{% endblock %}
