{% extends 'layout.html' %}

{% block titulo %}Ahorra y Gana con Spendy{% endblock %}

{% block contenido %}

<style>
  .fonda {
    width: 100%;
    height: fit-content;
    position: relative;
    background-color: rgb(4, 17, 92);
    display: flex;
  }

  .fondosIA {
    width: 50%;
    
    
  }

  .fondosIAR {
    width: 50%;
  
    
  }

  .contenidoTexto {
    background-color: rgba(10, 19, 56, 0.562);
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }

  .spendy{
    font-size: 2.5rem;
  }
  .laMejor{
    font-size: 1.5rem;
  }
  .ce {
    text-align: center;
  }

  .Htitu {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(33, 64, 165);
    margin-top: 10vh;
    margin-bottom: 3vh;
  }

  .Hp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: justify;
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
  }

  th,
  td {
    padding: 2vh !important;
  }

  th,
  thead {
    background-color: rgb(255, 0, 128) !important;
    color: rgb(255, 255, 255) !important;
  }

  .row {
    width: 96vw !important;
    margin: 0;
    background-color: white !important;
    margin: 2vw;
    padding: 2vw;
  }

  .grande {
    width: 100%;
    padding: 0;
    background-color: white !important;
  }
  .abajo{
    width: 35%; margin: auto; display: flex; flex-direction: column; justify-content: center;
  }
  @media (max-width: 768px) {
    .fonda {
      width: 100%;
      height: 100%;
      position: relative;
      
      display: flex;
    }

    .fondosIA {
      width: 100%;
      height: 100%;
    }

    .fondosIAR {
      width: 0;
      height: 0;
    }

    .contenidoTexto {
      
      position: absolute;
      width: 100%;
      height: 100%;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
    }
    .spendy{
      font-size: 1.5rem;
    }
    .laMejor{
      font-size: 1rem;
    }
    th,
    td {
      padding: 1vh !important;
    }

    .abajo {
      width: 90% !important;
    }

    .Htitu {
      font-size: 5vw;
      color: rgb(13, 13, 85);
      margin-top: 6vh;
      margin-bottom: 2vh;
    }

    .Hp {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 4vw;
      display: flex;
      justify-content: center;
    }
    
    th,
    td,.lll {
      font-size: 3vw !important;
    }
    .text-center{
      font-size: 5vw;
    }
  }

  th,
  td {
    font-size: 1rem;
  }
  .TT{
    text-align: center;
    font-size: 1rem;
  }
  table{
    box-shadow: 0 5px 10px 1px rgb(190, 190, 190);
    
  }
</style>

<div class="fonda">
  <div class="fondosIA"><img style="width: 100%;" src="/static/img/bitcoin-wallpaper-4k.jpg" alt=""></div>
  <div class="fondosIAR"><img style="width: 100%;" src="/static/img/ia_reversed.jpg" alt=""></div>
  <div class="contenidoTexto">
    <h1 class="spendy">Spendy</h1>
    <p class="laMejor"><i>La mejor app para hacer inversiones</i></p>
  </div>
</div>

<div class="abajo">
  <h2 class="Htitu">¿Que es Spendy?</h2>
  <p class="Hp">Nosotros somos una empresa que te ayuda a cuidar tu dinero, a invertirlo, y a cuidarlo,
    te asesoramos para que sepas como cuidar tu dinero, hacemos prestamos, y por si fuera poco, tenemos las mejores
    rifas ¿Estas listo?.</p>

  <div class="grande col-md-5 d-flex flex-column bg-light">
    <h2 class="TT">Tabla 1: Intererses</h2>
    <table class="table table-bordered mb-3" style="text-align: center">
      <thead>
        <tr>
          <th>Meses Invertidos</th>
          <th>Intereses Ganados</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>0.5%</td>
        </tr>
        <tr>
          <td>3</td>
          <td>1.7%</td>
        </tr>
        <tr>
          <td>6</td>
          <td>3.8%</td>
        </tr>
        <tr>
          <td>9</td>
          <td>5.9%</td>
        </tr>
        <tr>
          <td>12</td>
          <td>8%</td>
        </tr>
      </tbody>
    </table>
    

  <h2 class="Htitu">Inversiones</h2>
  <p class="Hp">Nuestras inversiones son seguras y las mas cuidadas por nuestros mejores inversionistas, puedes empezar
    a invertir desde 100$ pesos con un limite de 10 Millones.</p>
  <img class="hp" src="/static/img/TargetaInicio.png" alt="">
  

  <h2 class="Htitu">Rifas</h2>
  <p class="Hp">Nuestras rifas se hacen anualmente, pero mientras mas crezca Spendy mas pronto seran, para participar
    solo debes de tener invertidos 100 pesos, y asi ganas la posibilidad de obtener el premio anual.</p>
  <img src="/static/img/RifasInicio.png" alt="">
</div>
{% endblock %}
