{% extends 'layout.html' %}

{% block titulo %}Ahorra y Gana con Spendy{% endblock %}

{% block contenido %}

<style>
  /* Contenedor principal */
  .fonda {
    width: 100vw;
    height: 80vh;
    position: relative;
    background-color: rgb(2, 21, 130);  /* Color de fondo */
    display: flex;
  }

  /* Fondo con la imagen a la izquierda */
  .fondosIA {
    width: 50%;
    height: 100%;
    background: url(/static/img/bitcoin-wallpaper-4k.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* Fondo con la imagen a la derecha */
  .fondosIAR {
    width: 50%;
    height: 100%;
    background: url(/static/img/ia_reversed.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* Estilo para el texto centrado sobre las imágenes */
  .contenidoTexto {
    background-color: rgba(0, 51, 255, 0.507);  /* Fondo translúcido */
    position: absolute;
    width: 100vw;
    height: 80vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }

  .ce {
    text-align: center;
  }
  .Htitu{
    font-size: 2vw;
    color: rgb(12, 12, 126);
    margin-top: 4vh;
    margin-bottom: 1vh;
  }
  .Hp{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
  }
</style>

<div class="fonda">
  <!-- Imagen de la izquierda -->
  <div class="fondosIA"></div>

  <!-- Imagen de la derecha -->
  <div class="fondosIAR"></div>

  <!-- Contenido de texto centrado -->
  <div class="contenidoTexto">
    <h1 style="font-size: 4vw;">Spendy</h1>
    <p style="font-size: 2.2vw;">La mejor app para hacer inversiones</p>
  </div>
</div>
<div style="width: 40%; margin: auto;">
<h2 class="Htitu">¿Que es Spendy?</h2>
<p class="Hp">Nosotros somos una empresa que te ayuda a cuidar tu dinero, a invertirlo, y a cuidarlo, te asesoramos para que sepas como cuidar tu dinero, hacemos prestamos, y por si fuera poco, tenemos las mejores rifas,¿Estas listo?</p>

<h2 class="Htitu">Inversiones</h2>
<p class="Hp">Para invertir ve a <a href="/cInvertir">¿Como invertir?</a></p>
<p class="Hp">Nuestras inversiones son seguras y las mas cuidadas por nuestros mejores inversionistas, puedes empezar a invertir desde 100$ pesos con un limite de 10 Millones.</p>

<h2 class="Htitu">Rifas</h2>
<p class="Hp">Nuestras rifas se hacen anualmente, pero mientras mas crezca Spendy mas pronto seran, para participar solo debes de tener invertidos 100 pesos, y asi ganas la posibilidad de obtener el premio anual.</p>
</div>
{% endblock %}
