{% extends 'layout.html' %}
{% block titulo %}Ahorra y gana con Spendy{% endblock %}
{% block contenido %}

<style>
    body {
        background-image: none !important;
        background-color: white;
    }

    .recuadro {
        height: 86vh;
        display: flex;
        padding: 0;
    }

    div.azul {
        background-color: rgb(26, 83, 253);
        margin: auto;
        height: 80vh;
        width: 50vw;
        justify-content: center;
        border-radius: 4vh;
        padding: 0;
    }

    .centrado {
        text-align: center;
    }

    .azul h1 {
        margin: 4vh auto;
        color: ghostwhite;
        font-size: 2.5vw;
    }

    .azul div .precio {
        width: 25vw;
        height: 5vh;
        border-radius: 2vh;
        padding: 1vw;
        border: none;
    }

    div.blanco {
        width: 50vw;
        height: .5vh;
        background-color: white;
    }

    p.centrado {
        font-size: 3vh;
        margin: 0 2vh;
        color: ghostwhite;
    }

    .sig {
        border: none;
        color: black !important;
        width: 15vw;
        height: 4vh;
        font-size: 2vh;
        border-radius: 10px;
    }

    @media (max-width: 768px) {
        .recuadro {
            width: 100vw !important;
        }

        div.azul {
            width: 90vw !important;
        }

        div.blanco {
            width: 100%;
        }

        .men {
            width: 90vw !important;
        }

        h1.centrado {
            font-size: 5vw;
        }

        input.precio, select, p.precio{
            width: 60vw !important;
            text-align: center;
            height: 6vh !important;
        }
        p.precio{
            width: 70vw !important;
            text-align: center;
            height: 7vh !important;
        }
        .sig {
            width: 30vw !important;
            height: 5vh !important;
            font-size: 3.2vw;
        }
    }
</style>

<div id="carouselExample" class="carousel slide recuadro" style="display: flex; justify-content: center; align-items: center;">
    <div class="carousel-inner" style="display: flex; justify-content: center; align-items: center;">
        <form action="/iInvertir" method="post">
            <!-- Primer item del carrusel -->
            <div class="carousel-item active">
                <div class="azul">
                    <div style="height: 70vh; margin: 0;">
                        <!-- Numeros -->
                        <div style="height: 8vh; padding: 2vh;">
                            <p class="centrado">1 de 3</p>
                        </div>
                        <!-- Linea Blanca -->
                        <div class="men" style="height: 17.5vh; width: 50vw;">
                            <div style="color: ghostwhite; text-align: center;">
                                <div class="blanco"></div>
                            </div>
                        </div>
                        <!-- Texto principal -->
                        <div style="height: 8vh;">
                            <h1 class="centrado">¿Cuánto dinero deseas invertir?</h1>
                        </div>
                        <!-- Input principal -->
                        <div style="width: fit-content; margin: 4vh auto; height: 4vh;">
                            <input class="precio" name="precio" type="text" placeholder="100 - 10,000,000">
                        </div>
                    </div>
                    <!-- Linea Blanca -->
                    <div style="height: 3vh;">
                        <div class="blanco"></div>
                    </div>
                    <!-- Botones -->
                    <div
                        style="width: fit-content; display: flex; flex-direction: row; align-items: center; margin: 0 auto; height: 5vh;">
                        <button class="sig" type="button">Atras</button>
                        <div style="width: 4vw;"></div>
                        <button class="sig" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">Siguiente</button>
                    </div>
                </div>
            </div>

            <!-- Segundo item del carrusel -->
            <div class="carousel-item">
                <div class="azul">
                    <div style="height: 70vh; margin: 0;">
                        <div style="height: 8vh; padding: 2vh;">
                            <p class="centrado">2 de 3</p>
                        </div>
                        <div class="men" style="height: 17.5vh; width: 50vw;">
                            <div style="color: ghostwhite; text-align: center;">
                                <div class="blanco"></div>
                            </div>
                        </div>
                        <div style="height: 8vh;">
                            <h1 class="centrado">¿Cuanto tiempo deseas invertir?</h1>
                        </div>
                        <div style="width: fit-content; margin: 4vh auto; height: 4vh;">
                            <select name="plazo" class="precio" style="border-radius: 0; padding: 0;">
                                <option selected disabled>Elige tu plazo</option>
                                <option value="1">1 Mes</option>
                                <option value="3">3 Mes</option>
                                <option value="6">6 Mes</option>
                                <option value="9">9 Mes</option>
                                <option value="12">12 Mes</option>
                            </select>
                        </div>
                    </div>
                    <div style="height: 3vh;">
                        <div class="blanco"></div>
                    </div>
                    <div
                        style="width: fit-content; display: flex; flex-direction: row; align-items: center; margin: 0 auto; height: 5vh;">
                        <button class="sig" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">Atras</button>
                        <div style="width: 4vw;"></div>
                        <button class="sig" type="submit">Invertir</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

</section>
{% endblock %}