{% extends 'layout.html' %}
{% block titulo %}Ahorra y gana con Spendy{% endblock %}
{% block contenido %}

<style>
    body {
        background-image: none !important;
        background-color: white;
    }

    section.recuadro {
        height: 86vh;
        display: flex;
        padding: 0;
    }

    div.azul {
        background-color: royalblue;
        margin: auto;
        height: 80vh;
        width: 50vw;
        justify-content: center;
        border-radius: 4vh;
        padding: 0;
    }

    .centrado {
        text-align: center;
    }

    .azul h1 {
        margin: 4vh auto;
        color: ghostwhite;
        font-size: 2.5vw;
    }

    .azul div .precio {
        width: 25vw;
        height: 5vh;
        border-radius: 2vh;
        padding: 1vw;
        border: none;
    }

    div.blanco {
        width: 50vw;
        height: .5vh;
        background-color: white;
    }

    p.centrado {
        font-size: 3vh;
        margin: 0 2vh;
        color: ghostwhite;
    }

    .sig {
        border: none;
        color: black;
        width: 15vw;
        height: 4vh;
        font-size: 2vh;
        border-radius: 10px;
    }
</style>
<section class="recuadro">
    <div class="azul">
        <div style="height: 70vh; margin: 0;">

            <div style="height: 8vh; padding: 2vh;">
                <p class="centrado">1 de 5</p>
            </div>

            <div style="height: 17.5vh; width: 50vw;">
                <div style="color: ghostwhite; text-align: center;">
                    <div class="blanco"></div>
                </div>
            </div>

            <div style="height: 8vh;">
                <h1 class="centrado">¿Cuanto dinero deseas invertir?</h1>
            </div>
            <div style=" width: fit-content; margin: 4vh auto; height: 4vh;">
                <input class="precio" type="text" placeholder="100 - 10,000,000">
                
            </div>

        </div>

        <div style="height: 3vh;">
            <div class="blanco"></div>
        </div>

        <div style="width: fit-content; display: flex; flex-direction: row; align-items: center; margin: 0 auto; height: 5vh;">
            <input class="sig" type="button" value="atras" style="margin-left: -.5vw;">
            <input class="sig" type="button" value="siguiente"  style="margin-left: 1vw;">
        </div>
    </div>
</section>
{% endblock %}