<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <h4 style="color: crimson; font-family: 'Silkscreen'; font-size: 5vw;">{{nombre}} Es un estupido lesbiano</h4>
    <p style="color: blueviolet; background-color: aqua; font-size: 3vw;">¿Listo para cagar dinero?, vete a la verga rapido y facil, no te preocupes no pasa nada, no te robaremos, no te daras cuenta</p>
    <img src="https://i.ytimg.com/vi/qBsM3OBJvAk/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLBo6He6DqRmMhUuQJQSGQoJb0swTA" alt="" srcset="">
</body>
</html>