{% extends 'layout.html' %}

{% block titulo %}Rifas{% endblock %}

{% block contenido %}
<style>
    .rifasT {
        margin: 2vh auto 5vh !important;
    }

    .esg {
        border: 30px ridge rgb(102, 101, 101);
    }

    .año {
        text-align: center !important;
        font-family: 'SilkScreen';
        color: rgb(219, 91, 0);
        font-size: 2.5vh;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .objeto {
        text-align: center !important;
        font-size: 3vh;
        margin-bottom: 2vh;
    }

    .des {
        font-size: 1.39rem;
        text-align: center;
        margin-bottom: 1vh;
    }
    .des2 {
        font-family: serif !important;
        font-size: 1.2rem;
        text-align: center;
        margin-top: 1vh;
        font-weight: 1 !important;
    }

    .card-body {
        padding: 0;
    }

    .card {
        border-radius: 10px;
        border: none;
    }

    .container.esg {
        background-color: rgb(110, 155, 51);
        padding: 3vh;
        margin: 2vh auto;
        max-width: 70%;
    }

    .no-btn {
        background-color: rgba(240, 248, 255, 0) !important; 
        color: rgba(240, 248, 255, 0) !important;
    }

    img.card-img-top {
        height: 30vh;
        object-fit: cover;
    }

    .poloI{
        width: 49%;
        margin-left: 0 !important;
    }
    .poloD{
        width: 49%;
        margin-right: 0 !important;
    }

    .fecha {
            margin: .5vh auto .5vh !important;
            font-size: 1.2rem;
        }
    @media (max-width: 768px) {
        .container.esg {
            padding: .2vh .2vh;
            max-width: 100%;
            margin: 0;
        }

        .rifasT {
            font-size: 2.5vh;
            margin-bottom: 1vh !important;
            margin-top: 3vh !important;
        }

        .año {
            font-size: 2vh;
        }

        .objeto {
            padding: 1vw 0;
            font-size: 5vw !important;
        }

        .des {
            font-size: 1.2rem;
        }
        .des2 {
            font-size: 1.1rem;
        }

        .col {
            padding: 5vw !important;
        }

        .card {
            margin: 1vh auto;
        }

        img.card-img-top {
            max-height: 30vh;
            object-fit: cover;
        }

        .modal-content {
            font-size: 2vh;
        }

        .fecha {
            margin: 1vh auto 1vh !important;
            font-size: 4vw !important;
        }
    }
</style>
<div class="container esg">
    <h1 class="rifasT" style="color: ghostwhite; text-align: center; font-family: Silkscreen;">$Rifas$</h1>
    {% with mensajes = get_flashed_messages() %}
    {% if mensajes %}
    {% for m in mensajes %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ m }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for p in productos %}
        <div class="col">
            <div class="card">
                <div style="box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.253);">
                    <img src="/static/img/{{p.5}}" class="card-img-top" alt="Not found">
                </div>
                <div class="card-body" style="border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;">
                    <p class="año"><small><b>{{p.1}}</b></small></p>
                    <p class="objeto" style="background-color: rgb(24, 143, 0); color: ghostwhite; margin-bottom: 1vh;">{{p.2}}</p>
                    <p class="des" style="width: 85%; margin: auto; font-family: Arial, Helvetica, sans-serif; margin-top: 2vh;"><b>Descripción </b><br></p>
                    <div style="max-height: 12vh; min-height: 12vh; width: 70%; margin: auto;">
                        <p class="des2" style="font-family: Arial, Helvetica, sans-serif; text-align: center;"><i>{{p.3}}</i></p>
                    </div>
                    <div style="width: 100%; background-color: rgb(221, 71, 146); color: ghostwhite; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; padding: 1.5vh;
                    display: flex; justify-content: center; align-items: center;">
                        <p class="fecha" style="margin: 0;">Fecha de entrega: {{p.4}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
