{% extends 'layout.html' %}
{% block titulo %}Productos{% endblock %}
{% block contenido %}
<div class="container">
  {% with mensajes = get_flashed_messages() %}
  {% if mensajes %}
  {% for m in mensajes %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{m}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#insert">
    <i class="fa-solid fa-plus fa-2xl"></i>
  </button>

  <!-- Modal Insert -->
  <div class="modal fade" id="insert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Proyecto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/iProducto" method="post">
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input type="text" name="nombre" class="form-control" id="floatingInputo" placeholder="TU mama perez">
              <label for="floatingInput">Nombre
                completo</label>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
              <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                <div class="form-floating mb-3">
                  <input type="email" name="descripcion" class="form-control" id="floatingInput"
                    placeholder="name@example.com">
                  <label for="floatingInput">Descripcion</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="Number" name="clave" class="form-control" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Imagen</label>

                </div>

            </div>
            <div class="form-floating mb-3">
              <label for="floatingPassword">Perfil</label>
              <br />
              <select name="perfil" class="form-select" aria-label="Default select example">
                <option selected>Tipo de Proyecto</option>
                <option value="A">Administrador</option>
                <option value="U">Usuario</option>

              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Crear
                Usuario</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">



    {% for p in productos %}



    <div class="col">
      <div class="card">
        <img src="/static/img/{{p.4}}" class="card-img-top" alt="Not found">
        <div class="card-body">
          <h5 class="card-title">{{p.1}}</h5>
          <p class="card-text">{{p.2}}</p>
          <p class="card-text">{{p.3}}</p>

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#update{{p.0}}">
            <i class="fa-regular fa-pen-to-square fa-2xl"></i>          
          </button>

          <!-- Modal Update -->
          <div class="modal fade" id="update{{p.0}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Proyecto</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/iProducto" method="post">
                  <div class="modal-body">
                    <div class="form-floating mb-3">
                      <input type="text" name="nombre" class="form-control" id="floatingInputo"
                        placeholder="TU mama perez" value="{{p.2}}">
                      <label for="floatingInput">Nombre
                        completo</label>
                    </div>
                    <div class="col-md-10 mx-auto col-lg-5">
                      <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                        <div class="form-floating mb-3">
                          <input type="email" name="descripcion" class="form-control" id="floatingInput"
                            placeholder="name@example.com">
                          <label for="floatingInput">Descripcion</label>
                        </div>
                        <div class="form-floating mb-3">
                          <input type="Number" name="clave" class="form-control" id="floatingPassword"
                            placeholder="Password">
                          <label for="floatingPassword">Imagen</label>

                        </div>

                    </div>
                    <div class="form-floating mb-3">
                      <label for="floatingPassword">Perfil</label>
                      <br />
                      <select name="perfil" class="form-select" aria-label="Default select example">
                        <option selected>Tipo de Proyecto</option>
                        <option value="A">Administrador</option>
                        <option value="U">Usuario</option>

                      </select>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                      <button type="submit" class="btn btn-primary">Crear
                        Usuario</button>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}