{% extends 'layout.html' %}
{% block titulo %}Crea una cuenta{% endblock %}
{% block contenido %}

<style>
  .eso{
    margin-top: 4vh;
    padding: 5vh;
    width: 65%;
    background: linear-gradient(#00c1fc,#03f00b);
    border-radius: 0 95% 0 95%;
    height: 70%;
  }
  input{
    margin: 3vh 0;
  }
  .asu{
    color: blue !important;
  }
</style>
<div class="container eso">
  <main class="form-signin w-100 m-auto">

    <form action="/signin" method="post">
      {% with mensajes = get_flashed_messages() %}
      {% if mensajes %}
      {% for m in mensajes %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{m}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <br>
      <div style="width: 40%; margin: 6.5vh auto;">
        <h1 style="color: white;">Inicia Sesion</h1>
          <div class="form-floating">
            <input type="email" name="correo" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Correo Electronico</label>
          </div>
          <div class="form-floating">
            <input type="password" name="clave" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Contraseña</label>
          </div>

          <div class="form-check text-start my-3">
            <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              <a style="text-decoration: none; color: ghostwhite; font-family: Arial, Helvetica, sans-serif;"><strong><a style="color: white;" class="asu" href="https://www.youtube.com/watch?v=rSWj__OmHis">Recuerdame</a><span style="color: ghostwhite;"> siempre</span></strong></a>
            </label>
          </div>
          <button class="btn btn-primary w-100 py-2" type="submit">Iniciar sesion</button>
        </form>
      </div>
  </main>
</div>
{% endblock %}