{% extends 'layout.html' %}
{% block titulo %}Crea una cuenta{% endblock %}
{% block contenido %}

<style>
  body{
    background-color: rgb(255, 255, 255);
  }
  
  .eso {
    padding: 4vh;
    width: 90%;
    max-width: 100%;
    height: calc(100vh - 18vh);
    background: linear-gradient(to top, #ff0000, #b845ff, #b845ff, #ff0000);
    border-radius: 0 95% 0 95%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: visible; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .eso::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: 0 95% 0 95%;
    z-index: -1;
  }

  
  .form-signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  form {
    width: 30vw;
    padding-top: 0 !important;
  }

  
  .pipi {
    margin: 1vh 0;
    font-size: 2vh;
    padding: 1.5vh 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
  }

  .pipi:focus {
    border-color: #9503f0;
    outline: none;
  }

  
  .asu {
    color: rgb(96, 146, 21) !important;
    margin-bottom: 2vh;
    font-size: 1vw !important;
  }
  .bgd{
    color: white !important;
  }

  
  .boto {
    font-size: 1.3vw !important;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.5vw 0;
    width: 100%;
    text-align: center;
    margin-top: 1vh 0;
    color: rgb(233, 230, 230) !important;
  }

  .boto:hover{
    background-color: green !important;
  }
 
  @media (max-width: 768px) {
    .eso {
      width: 100%;
      padding: 4vh;
      border-radius: 0 75% 0 75%;
      height: calc(100vh - 15vh);
    }

    form {
      width: 90%;
    }

    .pipi, .boto {
      font-size: 4vw; 
      padding-top: 5vw 0 !important;
    }

    .boto{
      font-size: 5vw !important;
    }
    .asu {
      font-size: 3vw !important;
    }
  }

</style>

<div class="container eso">
  <main class="form-signin w-100 m-auto">
    <form action="/signin" method="post">
      {% with mensajes = get_flashed_messages() %}
      {% if mensajes %}
      {% for m in mensajes %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{m}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <br>
      <div style="width: 100%; margin: auto;">
        <h1 class="h1" style="color: rgb(255, 255, 255); font-size: 3.5vh; text-align: center;">Inicia Sesión</h1>
        <div class="form-floating">
          <input type="email" name="correo" class="pipi form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Correo Electrónico</label>
        </div>
        <div class="form-floating">
          <input type="password" name="clave" class="pipi form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Contraseña</label>
        </div>

        <div class="form-check text-start my-3">
          <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            <a style="text-decoration: none; color: ghostwhite; font-family: Arial, Helvetica, sans-serif;">
              <strong><a style="color: white;" class="asu" href="https://www.youtube.com/watch?v=rSWj__OmHis">Recuerdame</a><span class="asu bgd" style="color: ghostwhite;"> siempre</span></strong>
            </a>
          </label>
        </div>
        <button class="boto btn btn-primary w-100 py-2" style="background-color: rgb(1, 143, 10); margin-bottom: 8vh;" type="submit">Iniciar sesión</button>
      </div>
    </form>
  </main>
</div>

{% endblock %}
