{% extends 'layout.html' %}
{% block titulo %}Crea una cuenta{% endblock %}
{% block contenido %}

<div style="background: linear-gradient(#a10aa3, #4023ea,  #4023ea,  #4023ea,  #4023ea,  #4023ea); margin: 2.5vh auto 1vh; padding: 2vh 4vh 4vh; width: 25%; border-radius: 4px;">
  
  <div style=" margin: auto; text-align: center;">
  <i class="fa-solid fa-sack-dollar" style="display: inline-block; color: white; font-size: 3vh;"></i>
  <h1 style="display: inline-block; font-family: 'Silkscreen'; margin: 0 0 3vh; text-align: center; color: white;">Spendy</h1>
</div>

  <div class="container" style="border: 1px solid rgb(214, 214, 214); background-color: rgb(255, 255, 255); padding: 4vh; margin: auto; border-radius: 4px;">
    <form method="post" action="/signup" class="row g-3" style="color: rgb(0, 0, 0);">
      <h2 style="text-align: center; font-size: 45px; font-family: Calibri;margin-top: 3vh; margin-bottom: 1vh;">Crea una cuenta</h1>
        <style>
          label {
            width: 35%;
            padding-top: 20px;
            font-size: 20px;
            font-family: Calibri;
            margin-bottom: -10px;
          }
          input{
            border-radius: 5px;
            border: 1px solid rgb(188, 188, 188);
          }
          input:focus{
            outline: none;
          }
          a.gold{
            color: rgb(71, 149, 38) !important;
          }
        </style>

        <label for="nom" style="padding-left: 0;">Nombre:</label><br>
        <input style="" type="text" name="nombre" id="nom"><br>

        <label for="corr" style="padding-left: 0;">Correo:</label><br>
        <input style="" type="email" name="correo" id="corr"><br>

        <label style="padding-left: 0;" for="contra">Contraseña:</label><br>
        <input style="margin-bottom: 4vh;" type="password" name="clave" id="contra">

        <div class="hr" style="margin: 0vh auto 2vh; padding: 1px; background-color: rgb(0, 0, 0); width: 75%; box-shadow: 0 2px 6px 1px rgb(166, 166, 166);"></div>
        <div style="display: flex;">
        <small style=" display: inline; font-size: 13px; padding: 0; margin: 0; margin-right: .5vh; margin-left: auto;">Acepta los <a class="gold" style="display: inline;">Terminos y
          Condiciones</a></small>
          <input type="checkbox" style="width: auto; margin-top: 2vh; margin: 0; margin-bottom: 0; padding-left: 0;margin-right: auto;height: 2.3vh;">
        </div>
          <br>
      <button type="submit" style="display: block; width: 35%;margin: 2vh auto; padding: 5px; border: none; 
      border-radius: 1px; background-color: #5ce946;">Registrarse</button>
      <p style="font-size: 13px; text-align: center; margin: 1vh auto;">¿Ya tienes una cuenta? <a class="gold" href="/signin">Inicia sesion</a></p>
      
      
    </form>
  </div>

</div>

{% endblock %}